*
{
    font-family: "Century Gothic";
    margin: 0;
    box-sizing: border-box;
}

#chatName, #chatMessage
{
    width: 100%;
    font-size: 14pt;
}

#chatMessage
{
    height: 100px;
}

.chat
{
    width: 75%;
    margin: auto;
}

.chatMessages
{
    height: calc(100vh - 90px - 100px - 23px);
    border: 1px dashed #000000;
    overflow-y: scroll;
    word-wrap: break-word;
}

#chatMessages
{
    display: none;
}

#chatBlock
{
    display: none;
}

.chatMessage
{
    position: relative;
    padding: 16px;
    border-bottom: 1px dashed #CCCCCC;
}

.deleteButton
{
    position: absolute;
    top: 2px;
    right: 2px;
    min-width: 23px;
    min-height: 23px;
}

.editButton
{
    position: absolute;
    top: 2px;
    right: calc(2px + 23px + 4px);
    min-width: 23px;
    min-height: 23px;
}

input[type=submit]
{
    min-width: 75px;
    min-height: 23px;
}

header, footer
{
    height: 30px;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    position: relative;
}

#loginLink, #logoutLink, #googleLoginLink
{
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;
}

#logoutLink
{
    display: none;
}

#googleLoginLink
{
    right: calc(6px + 64px);
}

#loginNotice
{
    display: table;
    text-align: center;
    height: calc(100vh - 60px);
}

#loginBlock
{
    display: none;
    height: calc(100vh - 60px);
    width: auto !important;
}

#loginForm
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#loginForm input[type=email], #loginForm input[type=password]
{
    width: 100%;
    padding: 1%;
}